.app-router-view {
  width: 100%;
  height: 100%;

  .app-box {
    width: 100%;
    height: 100%;
    position: relative;

    .home-side-nav {
      position: absolute;
      left: 0;
      // top: 50px;
      width: 176px;
      height: 100%;
      color: #333;
      background: #eee;
      overflow-x: hidden;
      overflow-y: auto;
      box-shadow: 3px 0px 3px #bbb;
      background-color: #eee;
      border: 1px solid #ddd;
      border-right: none;

      .el-menu-item {
        border-bottom: 1px solid #ddd;
      }

      .el-submenu__title:hover {
        background: #eee !important
      }
    }

    .home-contain-box {
      padding-top: 50px;
      margin-left: 188px;
      height: 100%;
      background: #eee;
      border: 1px solid #ddd;
      border-bottom: none
    }
  }
}

.page-box {
  position: relative;
  width: 100%;
  height: 100%;

  .page-contant {
    width: 100%;
    height: 100%;
    // overflow-y: hidden;

    .page-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid #ddd;

      dt {
        font-size: 18px;
        font-weight: bolder;
        padding-left: 5px;
      }

      dd {
        color: #337ab7;
        padding-right: 6px;
      }
    }

    /*查询面板*/
    .page-query {
      margin: 5px 10px 5px 0;

      dt {
        background: #E6F2FF;
        border-bottom: 1px solid #ddd;
      }

      dd {
        background: #E6F2FF;
        border-bottom: 1px solid #ddd;
        padding-bottom: 12px;
        margin: 5px 0;
      }

      .ipt-del {
        position: absolute;
        top: 4px;
        right: -4px;
        width: 32px;
        height: 31px;
        line-height: 31px;
        background: #eee;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        color: #555;
        border-left: 1px solid #ddd;
        border-radius: 0;
        cursor: pointer;
      }

      .dateArrow {
        position: relative;
        font-family: "Glyphicons Halflings";
        font-weight: bolder;
        color: #337ab7;
        cursor: pointer;
        font-size: 20px;
      }

      .el-autocomplete {
        width: 315px;
      }
    }

    .page-list {
      height: calc(100% - 250px);
      padding-bottom: 45px;
      position: relative;
    }
  }
}



.el-input__inner {
  height: 34px;
  line-height: 34px;

}

.codeBtn {
  position: absolute;
  bottom: -13px;
  z-index: 1;

  .el-button {
    margin: 0 100px;
  }
}

.export {
  cursor: pointer;
}

.pageNation {
  position: absolute;
  bottom: -13px;
  z-index: 1;
}

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;

  h2 {
    text-align: center;
    margin-bottom: 20px
  }
}
